:root {
  --mainColor: #2f7943;
  --mainColor20: #2f794333;
  --mainColor05: #2f79430d;
  --secondColor: #906348;
  --secondColor20: #90634833;
  --secondColor05: #9063480d;
  --whiteColor: #ffffff;
  --darkColor: #1f1f1f;
  --lightGrayColor: #d6d6d6;
  --grayColor: #777;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0 16px 32px 0 #071c1f1a;
  body,
  span,
  p {
    font-size: 13px;
  }
  h6 {
    font-size: 14px;
  }
}
@font-face {
  font-family: madani;
  font-display: swap;
  src: url(../webfonts/madani.ttf);
}
* {
  font-family: "madani", Sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  // background-color: #eee;
  border-radius: 0px !important;
}
::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: #dddddd;
}
::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  outline: none;
  border-radius: 20px !important;
}
:target {
  scroll-margin-top: 50px;
}
a {
  text-decoration: none;
  transition: var(--transition);
}
a:hover {
  text-decoration: none;
  color: var(--mainColor);
}
button {
  cursor: pointer;
}
button:focus {
  outline: 0;
}
.row {
  margin: 0px;
}
body {
  overflow-x: hidden;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.btn {
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
  i {
    font-size: 16px;
  }
}
.btn:focus {
  box-shadow: none;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent;
}
input {
  accent-color: var(--mainColor) !important;
}
.odometer-inside {
  direction: rtl !important;
}
.fancybox__container {
  z-index: 1999;
}
::placeholder {
  font-size: 12px;
  color: #bababa !important ;
  font-weight: normal !important;
}
::selection {
  background-color: var(--mainColor);
}
[type="email"],
[type="number"],
[type="tel"],
[type="url"] {
  direction: rtl;
}
.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}
.navbar-toggler {
  border: none;
  box-shadow: none !important;
  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }
}
button {
  border: none;
  background-color: transparent;
}
.form-control {
  min-height: 54px;
  &:focus {
    box-shadow: none;
  }
}
.tooltip {
  --bs-tooltip-bg: var(--textlightGrayr);
  .tooltip-inner {
    font-size: 10px;
    padding: 8px 16px !important;
  }
}
content {
  min-height: calc(100vh - 502px);
  display: flex;
  flex-direction: column;
}
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
.lazyDiv {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--whiteColor);
    transition: transform 1.2s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(0%);
  }
  &.oppositeDir {
    &::after {
      left: unset;
      right: 0;
    }
  }
  .lazy {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  &.loaded {
    &::after {
      transform: translateX(-100%);
    }
    &.oppositeDir {
      &::after {
        transform: translateX(100%);
      }
    }
    &.down {
      &::after {
        transform: translateY(100%);
      }
    }
    &.up {
      &::after {
        transform: translateY(-100%);
      }
    }
  }
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  lottie-player {
    width: 200px;
    height: 200px;
  }
}
header {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--whiteColor);
  isolation: isolate;
  z-index: 9999;
  .topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100% - 48px, 1320px);
    margin: auto;
    padding: 16px 0;
    column-gap: 100px;
    row-gap: 12px;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-end;
    }
    .socialMedia {
      display: flex;
      align-items: center;
      gap: 6px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 100px;
        transition: var(--transition);
        background-color: var(--mainColor05);
        border: 1px solid var(--mainColor20);
        svg {
          width: 16px;
          height: 16px;
          transition: var(--transition);
          path {
            fill: var(--mainColor);
            transition: var(--transition);
          }
        }
        &:hover {
          background-color: var(--mainColor);
          transform: translateY(-5px);
          svg {
            path {
              fill: var(--whiteColor);
            }
          }
        }
      }
    }
    .contact {
      display: flex;
      align-items: center;
      gap: 24px;
      .language,
      .contactNum {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        font-weight: bold;
        svg {
          width: 24px;
          height: 24px;
          transition: var(--transition);
          path {
            fill: var(--mainColor);
            transition: var(--transition);
          }
        }
        a {
          color: var(--darkColor);
        }
        select {
          background-color: transparent;
          border: none;
          color: var(--darkColor);
          width: fit-content;
          font-size: 14px;
          font-weight: bold;
          option {
            color: var(--mainColor);
          }
        }
      }
    }
    &.addHeight {
      height: 132px;
    }
  }
  nav {
    background-color: var(--mainColor);
    color: var(--whiteColor);
    text-align: center;
    position: relative;
    // border-bottom: 5px solid #206332;
    width: 100%;
    transition: var(--transition);
    .inner {
      width: min(100% - 24px, 1320px);
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media screen and (max-width: 768px) {
        align-items: flex-end;
        flex-direction: column;
      }
      .logo {
        width: 120px;
        height: 120px;
        padding: 10px;
        border-radius: 1000px;
        background-color: var(--mainColor);
        display: block;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        z-index: 2;
        img {
          width: 100%;
          height: 100%;
          aspect-ratio: 1/1;
          filter: brightness(0) invert(1);
        }
        @media screen and (max-width: 768px) {
          top: 0%;
          right: 20px;
          transform: translate(0%, -40%);
          width: 100px;
          height: 100px;
        }
      }
      &::before {
        content: "";
        width: 130px;
        height: 130px;
        background-color: #206332;
        display: block;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
        border-radius: 1000px;
        z-index: -1;
        transition: var(--transition);
        @media screen and (max-width: 768px) {
          top: 0;
          right: 15px;
          transform: translate(0%, -40%);
          width: 110px;
          height: 110px;
        }
      }
      .navbar {
        flex: 1;
        .navLink {
          color: var(--whiteColor);
          gap: 8px;
          padding: 12px;
          display: flex;
          font-size: 16px;
        }
        .center {
          width: 100%;
          flex: 1;
        }
        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;
          background-color: var(--mainColor);
          align-items: flex-start;
          justify-content: flex-start;
          text-align: start;
          padding: 40px 20px;
          width: 100%;
          height: calc(100dvh - 146px);
          flex: auto;
          transform: translateX(100%);
          position: absolute;
          left: 0;
          top: 100%;
          transition: var(--transition);
          z-index: -2;
          &.active {
            transform: translateX(0%);
          }
          .center {
            display: none;
          }
        }
      }
      .sideBtn {
        padding: 16px;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        gap: 4px;
        @media screen and (max-width: 768px) {
          display: flex;
        }
        span {
          width: 20px;
          height: 2px;
          background-color: var(--whiteColor);
        }
      }
    }
  }
  .headerAnimate {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 12px;
    .inner::before {
      content: "";
      width: 90px;
      height: 90px;
      top: 70%;
    }
    .inner .logo {
      width: 80px;
      height: 80px;
      top: 70%;
    }
    @media screen and (max-width: 768px) {
      .inner .navbar {
        height: calc(100dvh - 54px);
        padding-top: 60px;
      }
    }
  }
}
.mainSlider {
  position: relative;
  overflow: hidden;
  .mainSliderContainer {
    width: 100%;
    height: 100%;
    .swiper-slide {
      position: relative;
      display: flex;
      align-items: end;
      width: 100%;
      height: calc(100dvh - 123px);
      @media (max-width: 768px) {
        height: calc(100dvh - 141px);
      }
      background-color: var(--darkColor);
      overflow: hidden;
      .videoContainer {
        position: absolute;
        overflow: hidden;
        z-index: 0;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
      }
      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(#1f1f1f00, #1f1f1f00, #1f1f1fbe);
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        transition: 0.3s ease-in-out;
      }
      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding: 40px;
        padding-bottom: 80px;
        text-align: center;
        position: relative;
        z-index: 2;
        .sliderTitle {
          color: var(--whiteColor);
          font-weight: bold;
          font-size: 30px !important;
          text-transform: uppercase;
          opacity: 0;
          transform: translate3d(0, 100%, 0);
          @media (max-width: 768px) {
            font-size: 22px !important;
          }
        }
        .hint {
          color: var(--lightGrayColor);
          opacity: 0;
          transform: translate3d(0, 100%, 0);
          @media (max-width: 768px) {
            font-size: 12px !important;
          }
        }
        .link {
          opacity: 0;
          margin-top: 10px;
          text-transform: uppercase;
          display: inline-flex;
          width: fit-content;
          gap: 8px;
          align-items: baseline;
          color: var(--lightGrayColor);
          border: 1px solid var(--lightGrayColor);
          padding: 8px 16px;
          border-radius: 8px;
          &:hover {
            color: var(--whiteColor);
            border-color: var(--whiteColor);
          }
        }
      }
    }
  }
  .swiper-slide-active {
    .sliderTitle {
      animation: fadeInUp 1s 0.5s both;
    }
    .hint {
      animation: fadeInUp 1s 0.75s both;
    }
    a {
      animation: fadeInUp 1s 1.5s both;
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translateZ(0);
    }
  }
}
.swiperControl {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 20px;
  display: flex;
  gap: 24px;
  align-items: center;
  .swiperBtns {
    display: flex;
    gap: 8px;
    .swiper-button-next,
    .swiper-button-prev {
      position: relative;
      right: unset;
      left: unset;
      top: unset;
      bottom: unset;
      margin: unset;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--whiteColor);
      width: 40px;
      height: 40px;
      border: 1px solid var(--whiteColor);
      border-radius: 100%;
      transition: var(--transition);
      opacity: 0.8;
      &::after {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-image: url("../img/icons/left.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: var(--transition);
        filter: invert(1);
        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
      &:hover {
        opacity: 1;
        background-color: white;
        color: var(--mainColor);
        &::after {
          filter: invert(0);
        }
      }
      &.swiper-button-disabled {
        opacity: 0.2;
      }
    }
    .swiper-button-next {
      right: unset;
    }
    .swiper-button-prev {
      &::after {
        transform: scaleX(-1);
      }
    }
  }
  .swiper-pagination {
    position: relative;
    min-height: 16px;
    right: unset;
    left: unset;
    top: unset;
    bottom: unset;
    margin: unset;
    display: flex;
    justify-content: end;
    align-items: center;
    .swiper-pagination-bullet {
      background-color: white;
      transition: var(--transition);
      border-radius: 16px;
      &.swiper-pagination-bullet-active {
        width: 16px;
        height: 16px;
      }
    }
  }
}
.sectionTitle {
  display: flex;
  flex-direction: column;
  // gap: 4px;
  margin-bottom: 40px;
  .title {
    font-weight: bold;
    color: var(--darkColor);
  }
  .hint {
    color: var(--secondColor);
    display: flex;
    align-items: center;
    gap: 8px;
    &::after {
      content: "";
      background-image: url(../img/heading_shape.svg);
      background-size: contain;
      background-position: bottom;
      height: 20px;
      width: 50px;
      background-repeat: no-repeat;
      transform: scaleX(-1);
    }
  }
}
.latest {
  padding: 70px 0;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    .swiperControl {
      position: relative;
      top: 0;
      left: 0;
      bottom: 0;
      top: 0;
      padding: 8px;
      background-color: var(--mainColor);
      border-radius: 100px;
    }
  }
  .latestSlider {
    .swiper-slide {
      height: auto;
    }
    .dishes {
      text-align: center;
      position: relative;
      padding: 24px;
      @media (max-width: 768px) {
        padding: 8px;
      }
      padding-top: 40px;
      border: 1px solid #eee;
      border-radius: 12px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 8px;
      isolation: isolate;
      height: 100%;
      transition: var(--transition);
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: #f5f5f5;
        position: absolute;
        left: 0;
        top: -60%;
        border-radius: 2000px;
        z-index: 1;
        transition: 0.3s ease-in-out;
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: var(--mainColor);
        position: absolute;
        left: 0;
        top: -100%;
        border-radius: 2000px;
        z-index: 2;
        transition: 0.5s ease-in-out;
      }
      .img {
        overflow: hidden;
        border-radius: 100%;
        background-color: var(--whiteColor);
        padding: 8px;
        position: relative;
        z-index: 3;
        img {
          width: 100%;
          aspect-ratio: 1/1;
          object-fit: contain;
          border-radius: 100%;
        }
      }
      .info {
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1;
        .name {
          font-weight: bold;
        }
        .details {
          color: var(--grayColor);
          font-size: 14px;
          margin-top: auto;
        }
        .more {
          margin-top: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px;
          border-radius: 8px;
          font-size: 14px;
          color: var(--mainColor);
          border: 1px solid transparent;
          gap: 8px;
        }
      }
      &.haverd {
        border: 1px solid var(--mainColor20);
        .img {
          img {
            animation: rotate 10s linear infinite;
          }
          @keyframes rotate {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
        .info {
          .more {
            border: 1px solid var(--mainColor20);
            background-color: var(--mainColor05);
          }
        }
        &::before {
          top: 0%;
          border-radius: 0px;
        }
        &::after {
          top: -60%;
        }
      }
    }
  }
}
.mainCategories {
  padding: 70px 0;
  .categories {
    background-color: var(--secondColor05);
    padding: 16px;
    border-radius: 12px;
    position: sticky;
    top: 120px;
    .accordionItem {
      display: flex;
      flex-direction: column;
      .accordionButton {
        border: none;
        border-bottom: 1px solid #eee;
        padding: 16px 0;
        display: flex;
        font-weight: bold;
        position: relative;
        font-size: 16px;
        .plus {
          position: absolute;
          left: 8px;
          top: calc(50% - 12px);
          width: 24px;
          height: 24px;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 12px;
            height: 2px;
            background-color: var(--secondColor);
            border-radius: 10px;
            transition: var(--transition);
          }
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 12px;
            height: 2px;
            background-color: var(--secondColor);
            border-radius: 10px;
            transition: var(--transition);
            transform: rotate(0deg);
          }
        }
        &.collapsed {
          .plus {
            &::after {
              transform: rotate(90deg);
            }
          }
        }
      }
      .subCategory {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 16px 0 24px;
        padding-right: 16px;
        a {
          color: var(--grayColor);
          font-size: 14px;
          font-weight: bold;
          display: flex;
          align-items: center;
          gap: 8px;
          &::before {
            content: "";
            width: 0px;
            height: 2px;
            background-color: var(--mainColor);
            transition: var(--transition);
            border-radius: 8px;
            transform: translateY(4px);
          }
          &:hover,
          &.active {
            color: var(--mainColor);
            &::before {
              width: 12px;
            }
          }
        }
      }
      &:last-child {
        .accordionButton {
          border-color: transparent;
        }
      }
    }
  }
  .recipes {
    .subCategoryImg {
      margin-bottom: 24px;
      position: relative;
      .simpleParallax {
        border-radius: 12px;
      }
      img {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 12px;
      }
      .text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding: 24px;
        padding-right: 40px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        background: linear-gradient(to left, #906348b5 20%, #90634800);
        border-radius: 12px;
        .title {
          font-weight: bold;
          color: var(--whiteColor);
        }
      }
    }
    .recipe {
      background-color: var(--secondColor05);
      text-align: center;
      // border: 1px solid var(--secondColor20);
      border-radius: 12px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 100%;
      transition: var(--transition);
      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
      .info {
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1;
        position: relative;
        padding: 20px;
        @media (max-width: 768px) {
          padding: 8px;
        }
        .name {
          font-weight: bold;
          font-size: 16px;
          color: var(--mainColor);
          @media (max-width: 768px) {
            font-size: 14px;
          }
        }
        .details {
          color: var(--grayColor);
          font-size: 14px;
          margin-top: auto;
          @media (max-width: 768px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
.pagination {
  gap: 4px;
  align-items: center;
  margin-top: 24px;
  flex-wrap: wrap;
  a {
    background-color: var(--secondColor05);
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 13px;
    color: var(--secondColor);
    // border: 1px solid var(--secondColor20);
    &.active {
      background-color: var(--secondColor);
      color: var(--whiteColor);
    }
    &.disabled {
      background-color: var(--lightGrayColor);
      color: var(--grayColor);
      user-select: none;
      cursor: default;
    }
  }
}
.subscribe {
  padding: 40px 0;
  .subscribeNews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 70px 24px;
    border-radius: 24px;
    min-height: 30vh;
    background-image: url(../img/subscribe.webp);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    isolation: isolate;
    text-align: center;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      border-radius: 24px;
      background: linear-gradient(45deg, #206332b6, #206332b4);
    }
    .text {
      color: var(--whiteColor);
      display: flex;
      flex-direction: column;
      gap: 8px;
      .title {
        font-weight: bold;
      }
    }
    form {
      position: relative;
      width: min(100% - 24px, 500px);
      input {
        width: 100%;
        min-height: 54px;
        border-radius: 100px;
        padding: 16px 24px;
        padding-left: 100px;
        border: none;
      }
      button {
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
        background: var(--mainColor);
        color: var(--whiteColor);
        // height: 100%;
        padding: 12px 20px;
        border-radius: 100px;
      }
    }
  }
}
.count {
  padding: 70px 0;
  padding-bottom: 140px;
  text-align: center;
  background-color: var(--mainColor05);
  position: relative;
  margin-top: 88px;
  &::after {
    position: absolute;
    content: "";
    background: url(../img/pattern-2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 88px;
    top: -88px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  &::before {
    position: absolute;
    content: "";
    background: url(../img/pattern-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 88px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .star {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
  .counter {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    .counterUp {
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      font-weight: bold;
      font-size: 36px;
      gap: 0px;
      color: var(--mainColor);
      b {
        font-size: 12px;
      }
      &::before {
        content: "";
        background-color: var(--mainColor05);
        position: absolute;
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        z-index: -2;
        border-radius: 100%;
        transform: translate(-50%, -50%);
      }
      &::after {
        position: absolute;
        content: "";
        background: url(../img/counter_shapes.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        animation: rotate linear 60s infinite;
        opacity: 0.7;
      }
    }
    .name {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
.blogs {
  padding: 80px 0 0px;
  .swiperControl {
    position: relative;
    .swiper-pagination {
      justify-content: center;
      .swiper-pagination-bullet {
        background-color: var(--mainColor);
      }
    }
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    .showAll {
      display: inline-flex;
      align-items: center;
      gap: 4px;
      color: var(--mainColor);
      .arrow {
        width: 16px;
        height: 16px;
        object-fit: contain;
      }
    }
  }
}
.singleBlog {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: var(--transition);
  img {
    height: 250px;
    object-fit: cover;
    width: 100%;
  }
  .lazyDiv {
    border-radius: 12px;
  }
  .data {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .date {
    // font-style: italic;
    color: var(--grayColor);
    display: flex;
    gap: 8px;
    align-items: center;
    transition: var(--transition);
    margin-top: auto;
    i {
      color: var(--grayColor);
      font-size: 16px;
      transition: var(--transition);
    }
  }
  .title {
    color: var(--darkColor);
    transition: var(--transition);
    font-weight: bold;
  }
  .description {
    // margin-top: auto;
    color: var(--grayColor);
  }
  &:hover {
    transform: translateY(-5px);
    .title {
      color: var(--mainColor);
    }
    .date {
      i {
        color: var(--whiteColor);
      }
    }
  }
}
footer {
  background: var(--secondColor05);
  .logo {
    margin-bottom: 24px;
    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: contain;
      object-position: right;
      max-height: 100px;
      // filter: brightness(0) invert(1);
    }
  }
  .title {
    font-weight: bold;
  }
  .subscribeNews {
    .text {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 24px;
    }
    p {
      font-size: 12px;
    }
    form {
      position: relative;
      input {
        width: 100%;
        min-height: 54px;
        border-radius: 100px;
        padding: 16px 24px;
        padding-left: 100px;
        border: 1px solid var(--secondColor20);
      }
      button {
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
        background: var(--secondColor);
        color: var(--whiteColor);
        // height: 100%;
        padding: 12px 20px;
        border-radius: 100px;
      }
    }
  }
  .socialMedia {
    display: flex;
    align-items: center;
    gap: 6px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 100px;
      transition: var(--transition);
      background-color: var(--whiteColor);
      svg {
        width: 16px;
        height: 16px;
        transition: var(--transition);
        path {
          fill: var(--secondColor);
          transition: var(--transition);
        }
      }
      &:hover {
        background-color: var(--secondColor);
        transform: translateY(-5px);
        svg {
          path {
            fill: var(--whiteColor);
          }
        }
      }
    }
  }
}
.banner {
  background-image: url(../img/bg-pattern.png);
  background-repeat: no-repeat;
  background-color: var(--secondColor05);
  padding: 120px 0 100px;
  position: relative;
  display: flex;
  text-align: center;
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 70px 0 50px;
  }
  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100vw;
  //   height: 320px;
  //   z-index: 1;
  //   backdrop-filter: blur(20px);
  // }
  .pageName {
    position: relative;
    z-index: 3;
  }
  .links {
    position: relative;
    z-index: 3;
    a {
      padding: 4px;
      color: var(--secondColor);
      display: inline-flex;
      align-items: center;
      gap: 12px;
      text-transform: capitalize;
      font-size: 14px;
      &:last-child {
        &::after {
          display: none;
        }
      }
      &::after {
        content: " - ";
      }
      &.active {
        cursor: default;
        color: var(--grayColor);
      }
    }
  }
  .pageName {
    font-weight: bold;
    color: var(--secondColor);
    text-transform: capitalize;
    margin-bottom: 10px;
  }
}
.blogDetails {
  padding: 50px 0;
  .blog {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: var(--transition);
    padding-bottom: 48px;
    // padding: 20px;
    img {
      aspect-ratio: 2/1;
      object-fit: cover;
      width: 100%;
      border-radius: 12px;
    }
    .date {
      display: flex;
      gap: 8px;
      align-items: center;
      color: var(--darkColor);
      i {
        color: var(--mainColor);
        font-size: 16px;
      }
    }
    .title {
      color: var(--darkColor);
      transition: var(--transition);
    }
    .description {
      color: #777;
    }
  }
  .Moreblogs {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
    gap: 32px;
    .headTitle {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 30px;
      position: relative;
      &::after {
        content: "";
        width: 30%;
        background-color: var(--mainColor);
        height: 2px;
        display: flex;
        margin-top: 5px;
      }
      @media (max-width: 768px) {
        font-size: 22px;
      }
    }
    .blog {
      display: flex;
      gap: 12px;
      height: fit-content;
      flex-direction: row;
      padding-bottom: 0px;
      padding: 0;
      .data {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
      .title {
        color: var(--darkColor);
      }
      .description {
        font-size: 13px;
        color: var(--grayColor);
      }
      img {
        width: 120px;
        height: 120px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 12px;
      }
    }
  }
}
.about {
  padding: 100px 0;
  .head {
    align-items: center;
    margin-bottom: 64px;
    @media (max-width: 768px) {
      text-align: center;
      .title {
        margin: auto;
      }
    }
    img {
      width: 100%;
      aspect-ratio: 1/1;
      max-height: 250px;
    }
    .info {
      .more {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 24px;
        list-style: none;
        padding: 0;
        margin-top: 32px;
        li {
          color: #777;
          font-size: 14px;
          @media (max-width: 768px) {
            font-size: 12px;
          }
        }
      }
    }
  }
  .missionVision {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    @media (max-width: 768px) {
      padding: 0 24px;
    }
    .mission,
    .vision,
    .passion {
      flex: 1 200px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;
      text-align: center;
      padding: 32px 24px 24px;
      border-radius: 12px;
      @media (max-width: 768px) {
        background-color: #fff;
        box-shadow: var(--BigShadow);
      }
      .icon {
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--mainColor05);
        border: 1px solid var(--mainColor20);
        border-radius: 16px;
        transform: rotate(45deg);
        @media (max-width: 768px) {
          height: 80px;
          width: 80px;
        }
        img {
          height: 54px;
          aspect-ratio: 1/1;
          object-fit: contain;
          transform: rotate(-45deg);
          @media (max-width: 768px) {
            height: 48px;
          }
        }
      }
      .name {
        margin-top: 32px;
        font-weight: bold;
        color: var(--mainColor);
        text-transform: uppercase;
        @media (max-width: 768px) {
          margin-top: 24px;
        }
      }
      .des {
        color: #777;
        font-size: 14px;
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }
}
.contactPage {
  padding: 60px 0;
  @media (max-width: 768px) {
    padding: 60px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .row {
      width: 100%;
    }
  }
  form {
    padding: 32px;
    box-shadow: var(--BigShadow);
    background: var(--whiteColor);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    @media (max-width: 576px) {
      padding: 32px 0;
    }
    .form-group {
      display: flex;
      width: 100%;
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 48px;
      }
      .inputfield {
        width: 100%;
        padding: 0 32px;
        position: relative;
        display: flex;
        flex-direction: column;
        label {
          position: absolute;
          font-size: 14px;
          color: #7b88a8;
          right: 32px;
          transform: translateY(-50%);
          top: 50%;
          font-weight: 500;
          transition: var(--transition);
          cursor: auto;
          &.message-label {
            top: 20%;
          }
          &.h {
            top: -4px;
            color: var(--mainColor);
          }
        }
        input,
        textarea {
          width: 100%;
          height: 45px;
          border: none;
          background: none;
          outline: none;
          &:focus + span::after {
            width: calc(100% - 64px);
          }
        }
        textarea {
          padding: 16px 0;
          height: 130px;
        }
        .highlight {
          width: 100%;
          height: 2px;
          background: #eeeeee;
          &::after {
            content: "";
            width: 0;
            transition: var(--transition);
            left: 50%;
            height: 2px;
            background: var(--mainColor);
            position: absolute;
            transform: translate(-50%);
          }
        }
      }
    }
    button {
      border: none;
      background: none;
      outline: none;
      align-self: flex-end;
      margin-left: 32px;
      isolation: isolate;
      padding: 0 16px;
      width: 166px;
      height: 50px;
      border: 1px solid var(--mainColor);
      color: var(--mainColor);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      transition: var(--transition);
      &::after {
        position: absolute;
        content: "";
        height: 150px;
        width: 0;
        left: 10px;
        transition: var(--transition);
        background: var(--mainColor);
        transform: rotate(-25deg);
        z-index: -1;
      }
      &:hover {
        color: var(--whiteColor);
        border-color: var(--mainColor);
        &::after {
          width: 110%;
          left: -10px;
        }
      }
    }
  }
  .map-info {
    margin-top: 80px;
    .info {
      border: 1px solid #eeeeee;
      display: flex;
      flex-direction: column;
      padding: 32px;
      border-radius: 8px;
      gap: 20px;
      h2 {
        color: var(--mainColor);
        margin-bottom: 20px;
      }
      .info-card {
        display: flex;
        align-items: center;
        gap: 16px;
        a {
          font-weight: 400;
          color: #7b88a8;
          transition: var(--transition);
          &:hover {
            color: var(--mainColor);
          }
        }
        .icon {
          background-color: var(--mainColor);
          width: 32px;
          height: 32px;
          padding: 8px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            filter: brightness(0) invert(1);
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
    #mapLocation {
      border-radius: 8px;
      @media (max-width: 992px) {
        height: 380px !important;
        margin-top: 32px;
      }
    }
  }
}
.faq {
  padding: 100px 0;
  .faqImg {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-size: cover;
    background-position: top center;
    min-height: 300px;
  }
  .title {
    font-weight: bold;
  }
  .des {
    margin-bottom: 48px;
  }
  .accordion {
    .accordion-item {
      border: none;
      background-color: var(--secondColor05);
      border-radius: 12px;
    }
    .accordion-button {
      margin-top: 10px;
      border-radius: 12px;
      border: none;
      background-color: var(--secondColor05);
      &:focus {
        box-shadow: none !important;
      }
      &::after {
        filter: invert(1);
      }
    }
    .accordion-button:not(.collapsed) {
      background-color: var(--secondColor);
      color: var(--whiteColor);
      box-shadow: none !important;
    }
    p {
      color: #777;
      font-size: 14px;
    }
  }
}
.recipeDetails {
  padding: 70px 0;
  .mainInfo {
    .slider {
      background-color: var(--mainColor05);
      border-radius: 24px;
      padding: 16px;
      .recipeSlider {
        width: 100%;
        aspect-ratio: 4/5;
        max-height: 500px;
        border-radius: 12px;
        // .swiperControl .swiperBtns .swiper-button-next,
        // .swiperControl .swiperBtns .swiper-button-prev {
        //   color: var(--mainColor);
        //   border: 1px solid var(--mainColor);
        //   &::after {
        //     filter: none;
        //   }
        // }
      }
      .recipeThumbs {
        box-sizing: border-box;
        padding-top: 10px;
        .swiper-slide {
          width: 100%;
          max-height: 120px;
          aspect-ratio: 1/1;
          opacity: 0.3;
          border-radius: 12px;
          background-color: var(--mainColor05);
          transition: var(--transition);
          &.swiper-slide-thumb-active {
            opacity: 1;
          }
        }
      }
      .swiper-slide {
        video,
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 12px;
        }
        // img {
        //   object-fit: contain;
        // }
      }
    }

    .details {
      display: flex;
      gap: 16px;
      flex-direction: column;
      .title {
        font-weight: bold;
        color: var(--darkColor);
      }
      .categoryName {
        color: var(--secondColor);
        font-size: 16px;
        font-weight: bold;
      }
      .desc {
        color: var(--grayColor);
      }
    }
    .makeData {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
      margin-top: 40px;
      .data {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 12px;
        text-align: center;
        align-items: center;
        padding: 20px;
        border-left: 1px solid #eee;
        &:last-child {
          border: none;
        }
        img {
          width: 48px;
          aspect-ratio: 1/1;
          object-fit: contain;
        }
        a,
        span {
          font-weight: bold;
          color: var(--mainColor);
        }
      }
    }
    .suggest {
      padding: 24px 16px;
      border-radius: 16px;
      margin-top: 16px;
      background-color: #fafafa;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .title {
        font-weight: bold;
      }
      .products {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        .product {
          background-color: var(--whiteColor);
          display: flex;
          flex-direction: column;
          color: var(--darkColor);
          padding: 12px;
          border-radius: 12px;
          flex: 1 150px;
          max-width: 167px;
          position: relative;
          justify-content: center;
          align-items: center;
          gap: 8px;
          transition: var(--transition);
          &:hover {
            box-shadow: var(--BigShadow);
            transform: translateY(-5px);
            z-index: 2;
          }
          img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: contain;
          }
        }
      }
    }
  }
  .makeIt {
    .title {
      font-weight: bold;
      margin-bottom: 24px;
    }
    ol {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        padding: 16px 0;
        color: var(--darkColor);
        transition: var(--transition);
        .num {
          display: flex;
          align-items: center;
          gap: 8px;
          margin-bottom: 16px;
          color: var(--mainColor);
          font-weight: bold;
          transition: var(--transition);
          span {
            width: 32px;
            height: 32px;
            border-radius: 100px;
            border: 1px solid var(--mainColor);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            transition: var(--transition);
            cursor: pointer;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              transition: var(--transition);
            }
          }
          &::after {
            content: "";
            flex: 1;
            height: 1px;
            background-color: #eee;
          }
        }
        &.done {
          color: #b0b0b0;
          .num {
            span {
              background-color: var(--mainColor);
              img {
                filter: brightness(0) invert(1);
              }
            }
          }
        }
      }
    }
  }
  .Ingredients {
    background-color: var(--secondColor05);
    padding: 16px;
    border-radius: 16px;
    .title {
      font-weight: bold;
      margin-bottom: 24px;
    }
    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        padding: 20px 0;
        border-bottom: 1px solid var(--secondColor05);
        color: var(--darkColor);
      }
    }
  }
}
